* {
    padding: 0;
    margin: 0;
}

#game {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    position: absolute;
}

#block {
    width: 50px;
    height: 500px;
    background-color: green;
    position: relative;
    left: 400px;
    animation: block 2.1s infinite linear;
}

@keyframes block {
    0% {
        left: 400px
    }

    100% {
        left: -50px
    }
}
#hole{
    height: 150px;
    width: 50px;
    background-color: #fff;
    position: relative;
    left: 400px;
    animation: block 2.1s infinite linear;
    top: -500px;
}
#character{
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: blue;
    border-radius: 50%;
    top: 100px;
}